  <!-- Footer -->
<div class="vg-footer">
    <h1 class="text-center mb-5">DimaS Portfolio</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 py-3">
                <div class="footer-info">
                    <p>My location</p>
                    <hr class="divider">
                    <p class="fs-large fg-white">Shillington, ON, Canada, P0K 1N0</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 py-3">
                <div class="float-lg-right">
                    <p>Follow me</p>
                    <hr class="divider">
                    <ul class="list-unstyled">
                        <li><a href="https://stackoverflow.com/users/77525/dmitri-s" target="_blank">StackOverflow</a></li>
                        <li><a href="https://github.com/dimasalt" target="_blank">Github</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 py-3">
                <div class="float-lg-right">
                    <p>Contact me</p>
                    <hr class="divider">
                    <ul class="list-unstyled">
                        <li><a href="https://www.upwork.com/fl/~0195216a90fa313ee7?mp_source=share" target="_blank">Upwork</a></li>                       
                    </ul>
                </div>
            </div>
        </div>
       @*  <div class="row justify-content-center mt-3">          
            <div class="col-12">
                <p class="text-center mb-0 mt-4">Copyright &copy;2020. All right reserved | This template is made with <span class="ti-heart fg-theme-red"></span> by <a href="https://www.macodeid.com/">MACode ID</a></p>
            </div>
        </div> *@
    </div>
</div> <!-- End footer -->

@code {

}
