.navbar {
    border-bottom: 1px dashed rgba(256, 256, 256, .2);
}

a.navbar-brand {
    font-family: Montserrat, sans-serif;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .5s;
}


a.nav-link {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
   