<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="copyright" content="MACode ID, https://www.macodeid.com/">
  
  <title>Dmitri Saltanovich Software Engeneer Portfolio</title>

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" type="text/css" href="css/themify-icons.css" />
  
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="app.css" />

  <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">  
  <link rel="stylesheet" type="text/css" href="vendor/owl-carousel/owl.carousel.css">
  
@*   <link rel="stylesheet" type="text/css" href="perfect-scrollbar/css/perfect-scrollbar.css"> *@
  
  <link rel="stylesheet" type="text/css" href="vendor/nice-select/css/nice-select.css">  
  <link rel="stylesheet" type="text/css" href="vendor/fancybox/css/jquery.fancybox.min.css">
  <link rel="stylesheet" type="text/css" href="css/virtual.css">
  <link rel="stylesheet" type="text/css" href="css/topbar.virtual.css">

    <HeadOutlet />
</head>


<body class="theme-orange">
    <Routes />

    <script src="_framework/blazor.web.js"></script>
    <script src="vendor/bootstrap/bootstrap.bundle.min.js"></script>
</body>


</html>
