<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="copyright" content="Dmitri Saltanovich">
  <meta name="description" content="Dmitri Saltanovich Software Engeneer with 12 years of professional experience" />
  <meta name="keywords" content=".NET, API, .NET API, MVC.NET, Blazor, C#, React, Next.js, express, Bootstrap, Tailwind, TailwindCSS, HTML, CSS, Front-End, Back-End" />
  
  <title>Dmitri Saltanovich Software Engeneer Portfolio</title>

  <!-- favicon -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" type="text/css" href="css/themify-icons.css" />
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/animate.min.css" />
    @*   <link rel="stylesheet" type="text/css" href="css/topbar.virtual.css" /> *@

  <!-- appliction css -->
  <link rel="stylesheet" type="text/css" href="app.css" />
@*   <link rel="stylesheet" type="text/css" href="app.min.css" /> *@


    <HeadOutlet />
</head>


<body class="theme-orange">
    <Routes />   

    <script type="text/javascript" src="vendor/bootstrap/bootstrap.bundle.min.js" defer></script>

    <script src="_framework/blazor.web.js"></script>
</body>


</html>

